// Основные Цвета
$background_white: #FFFFFF;
$cBlue: #1179BE;
$cTextColor: #4A4A4A;

// Вспомогательные Цвета
$cWhiteMilk: #F1F0EA;
$cDarkBlue: #0B5384;
$cDarkGrey: #808080;
$cLightGrey: #E5E5E5;
$cVeryLightBlue: #DDF0FF;
$cGrey: #A1A1A0;
$cLightBlue: #51B9FF;

// Цвета Статусов
$cStatusRed: #E23469;
$cStatusGreen: #1DAF55;
$cStatusBlue: #3F9AE4;
$cStatusYellow: #FFC000;
$cStatusOrange: #ffa843;
$cStatusViolet: #B36EDB;
$cStatusSea: #14BBC6;
$cLightTurquoise: #279097;

// Цвета Алармов
$cErrorRed: #EB0C0C;
$cErrorOrange: #FF6910;
$cErrorGreen: #53CC35;
$cErrorRedBag: #FFCCCC;
$cErrorOrangeBag: #FFDFCC;
$cErrorGreenBag: #DCFCE7;

// Дополнительные цвета
$cWhiteCom1: #F2F2F2;
$cWhiteCom2: #E6E6E6;
$cWhiteCom3: #D9D9D9;
$cWhiteCom4: #CCCCCC;
$cWhiteCom5: #BFBFBF;
$cBlueCom1: #E6EDF2;
$cBlueCom2: #B6DAF2;
$cBlueCom3: #79C2F2;
$cBlueCom4: #2593DC;
$cBlueCom5: #0466A7;
$cTextColorCom1: #595959;
$cTextColorCom2: #666666;
$cTextColorCom3: #737373;
$cTextColorCom4: #8C8C8C;
$cTextColorCom5: #9A9A9A;