// Основные Цвета
$cWhite: #ffffff;
$cBlue: #1179be;
$cTextColor: #4a4a4a;

// Вспомогательные Цвета
$cWhiteMilk: #f1f0ea;
$cDarkBlue: #0b5384;
$cDarkGrey: #808080;
$cLightGrey: #e5e5e5;
$cVeryLightBlue: #ddf0ff;
$cGrey: #a1a1a0;
$cLightBlue: #51b9ff;

// Цвета Статусов
$cStatusRed: #e23469;
$cStatusGreen: #1daf55;
$cStatusBlue: #3f9ae4;
$cStatusYellow: #ffc000;
$cStatusOrange: #ffa843;
$cStatusViolet: #b36edb;
$cStatusSea: #14bbc6;
$cLightTurquoise: #279097;

// Цвета Алармов
$cErrorRed: #eb0c0c;
$cErrorOrange: #ff6910;
$cErrorGreen: #53cc35;
$cErrorRedBag: #ffcccc;
$cErrorOrangeBag: #ffdfcc;
$cErrorGreenBag: #dcfce7;

// Дополнительные цвета
$cWhiteCom1: #f2f2f2;
$cWhiteCom2: #e6e6e6;
$cWhiteCom3: #d9d9d9;
$cWhiteCom4: #cccccc;
$cWhiteCom5: #bfbfbf;
$cBlueCom1: #e6edf2;
$cBlueCom2: #b6daf2;
$cBlueCom3: #79c2f2;
$cBlueCom4: #2593dc;
$cBlueCom5: #0466a7;
$cTextColorCom1: #595959;
$cTextColorCom2: #666666;
$cTextColorCom3: #737373;
$cTextColorCom4: #8c8c8c;
$cTextColorCom5: #9a9a9a;
