.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  color: white;
  transition: width 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidebar.closed {
  width: 60px;
}

.sidebar-section-main {
  // padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  background: linear-gradient(#1476c6, #004578);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex-grow: 1;
  position: relative; /* Для позиционирования псевдоэлемента */
  overflow: hidden; /* Чтобы скрыть выступающие части волны */
}

.sidebar-section-main::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 30px; /* Высота волны */
  background: linear-gradient(to right, #ffffff 0%, #fcf8f8, 120%, #b6b6b6 150%);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 200' preserveAspectRatio='none'%3E%3Cpath d='M0,0 C100,80 250,80 250,80 S500,80 500,200 L500,200 L0,200 Z' fill='black'/%3E%3C/svg%3E");
  mask-size: 100% 100%;
  z-index: 1; /* Чтобы волна была над secondary section */
}

.sidebar-section-main .section-title {
  height: auto;
  padding: 10px;
  font-size: 16px;
  color: #bdc3c7;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s ease, max-width 0.3s ease;
  max-width: 100%;
}

.sidebar.closed .section-title {
  opacity: 0;
  max-width: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar ul li .icon {
  margin-right: 10px;
  font-size: 20px;
  flex-shrink: 0;
}

.sidebar ul li .text {
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s ease, max-width 0.3s ease;
  max-width: 200px;
}

.sidebar.closed ul li .text {
  opacity: 0;
  max-width: 0;
}

.sidebar ul li:hover {
  background-color: #34495e;
}

.toggle-btn {
  background-color: #34495e;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  position: fixed; /* Фиксированное позиционирование */
  top: 10px; /* Отступ сверху */
  left: 260px; /* Позиция справа от сайдбара (250px + 10px отступа) */
  z-index: 1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease; /* Анимация для перемещения кнопки */
}

.sidebar.closed ~ .toggle-btn {
  left: 70px; /* Позиция справа от закрытого сайдбара (60px + 10px отступа) */
}

.toggle-btn:hover {
  background-color: #1abc9c;
}

.sidebar-section-secondary {
  // height: 100%;
  color: black;
  flex-grow: 1;
  background: linear-gradient(to right, #ffffff 0%, #fcf8f8, 120%, #b6b6b6 150%);
  position: relative; /* Для корректного отображения волны */
  z-index: 0; /* Чтобы secondary section был под волной */
}
